.select-input {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: calc(100% - 1.4rem) auto;
    align-items: center;
    gap: 0.4rem;
    background-color: white;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: border-color 0.1s var(--transition-ease-out);
}

.select-input:disabled {
    cursor: auto;
}

.option-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .option-text.placeholder-shown {
        color: #999;
    }

.select-input__options {
    list-style: none;
    overflow: hidden;
    background-color: var(--clr-white);
}

.dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    height: 0.8rem;
    aspect-ratio: 1;
    transition: transform 0.1s var(--transition-ease-out);
}

    .dropdown-icon.open {
        transform: rotate(180deg);
    }

    .dropdown-icon.closed {
        transform: rotate(0deg);
    }

.search-bar__wrapper {
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    background-color: white;
}

.search-bar__button {
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    left: 0;
    top: 0;
    color: #222;
    padding: 0.75rem;
    border: none;
    outline: none;
    background: none;
}

.search-bar__wrapper > input[type="search"] {
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    width: 100%;
    border: none;
    border-radius: 1rem;
    background-color: inherit;
}

    .search-bar__wrapper > input[type="search"]::-webkit-search-cancel-button,
    .search-bar__wrapper > input[type="search"]::-webkit-search-results-button {
        display: none;
    }
