@inherits ComponentMain

@if (mobjTabViewContainer?.mstrFocusedTab == Id)
{
    <div id=@Id>
        @ChildContent
    </div>
}

@code {
    #region Params
    [CascadingParameter(Name = "TabViewContainer")] public TabView mobjTabViewContainer { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter, EditorRequired] public System.String Id { get; set; }
    /// <summary>
    /// Default parameter set to true makes the tab automatically be focused upon page load. This should only be specified for one tab per container, else it will default to the last tab where this is set to true
    /// </summary>
    [Parameter] public System.Boolean Default { get; set; }
    #endregion

    #region OnInitialized
    protected override void OnInitialized()
    {
        try
        {
            mobjTabViewContainer?.subRegisterTab(Id, Default);
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion
}
