@inherits InputMain<System.Boolean>

<style>
    input[type="checkbox"] {
        /* Hide checkbox from user, but still in the document flow */
        visibility: hidden;
        position: absolute;
    }

    label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

        label > span:first-child {
            display: inline-block;
            height: 1.5rem;
            aspect-ratio: 1;
        }
</style>

<InputContainer Ref=@this TRef=@CheckboxInput TValue=@System.Boolean PreventDefaultLayout>
    <input id=@Id name=@Id type="checkbox" disabled=@prpIsDisabled @bind=mobjCurrentValue />
    <label for=@Id><span><CheckboxIcon Checked=@mobjCurrentValue /></span> <span>@Label</span></label>
    <p class="input-error-message @(!System.String.IsNullOrEmpty(WarningMessage) ? "warning" : "")">@(!System.String.IsNullOrEmpty(ErrorMessage) ? ErrorMessage : WarningMessage)</p>
</InputContainer>

@code {

}
