@rendermode RenderMode.InteractiveServer

@inherits InputMain<System.Int64?>

<style>
    .phone-input__wrapper {
        position: relative;
    }

    .phone-input {
        padding: 0.5rem 1rem;
        background-color: white;
    }</style>

<InputContainer Ref=@this TRef=@PhoneNumberInput TValue=@(Nullable<System.Int64>)>
    <div class="phone-input__wrapper">
        <div class="input-wrapper">
            <span class="helper-icon @(!System.String.IsNullOrEmpty(WarningMessage) ? "warning" : "")">
                @if (!System.String.IsNullOrEmpty(prpErrorMessage))
                {
                    <ErrorIcon />
                }
                else if (!System.String.IsNullOrEmpty(WarningMessage))
                {
                    <InfoIcon />
                }
            </span>
            <input type="tel" id=@Id name=@Id maxlength="14" placeholder=@(!System.String.IsNullOrEmpty(Placeholder) ? Placeholder : "(000) 000-0000") disabled=@prpIsDisabled @oninput=@subHandleInput value=@prpValue />
        </div>
    </div>
</InputContainer>

@code {
    #region Class Declarations
    private System.String? mstrValue = null;
    #endregion

    #region Props
    public System.String? prpValue
    {
        get
        {
            return mstrValue;
        }
        set
        {
            if (!System.String.IsNullOrWhiteSpace(value))
            {
                var achrAllowedChars = new System.Collections.Generic.HashSet<System.Char>("0123456789".ToCharArray());
                System.String strCleanInput = new System.String(value.Where(achrAllowedChars.Contains).ToArray());

                mobjCurrentValue = System.Int64.Parse(strCleanInput);
            } else {
                mobjCurrentValue = null;
            }
            mstrValue = value;
        }
    }
    #endregion

    #region OnInitialized
    protected override void OnInitialized()
    {
        try
        {
            subRegisterFormField();
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region OnParametersSet
    protected override void OnParametersSet()
    {
        try
        {
            if (mobjCurrentValue != null && mobjCurrentValue != 0) {
                System.String strNumber = mobjCurrentValue.ToString()!;
                mstrValue = strNumber.Length switch
                {
                    0 => "",
                    <= 3 => $"({strNumber}",
                    <= 6 => $"({strNumber[..3]}) {strNumber[3..]}",
                    <= 10 => $"({strNumber[..3]}) {strNumber[3..6]}-{strNumber[6..]}",
                    _ => strNumber
                };
            }
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region subHandleInput
    private void subHandleInput(ChangeEventArgs e)
    {
        System.String strRawInput = e.Value?.ToString() ?? System.String.Empty;


        // Allow digits, parentheses, dashes, and spaces
        System.Collections.Generic.HashSet<System.Char> achrAllowedChars = new System.Collections.Generic.HashSet<System.Char>("0123456789()- ".ToCharArray());
        System.String strCleanInput = new System.String(strRawInput.Where(achrAllowedChars.Contains).ToArray());

        if (System.String.IsNullOrEmpty(strCleanInput)) {
            prpValue = null;
        } 
        
        if (strRawInput != strCleanInput)
        {
            return;
        }

        // Extract digits from the input
        System.String strNumber = new System.String(strCleanInput.Where(System.Char.IsDigit).ToArray());

        // Format based on the number of digits
        prpValue = strNumber.Length switch
        {
            0 => "",
            <= 3 => $"({strNumber}",
            <= 6 => $"({strNumber[..3]}) {strNumber[3..]}",
            <= 10 => $"({strNumber[..3]}) {strNumber[3..6]}-{strNumber[6..]}",
            _ => strCleanInput
        };
    }
    #endregion

    #region subRunValidation
    protected override void subRunValidation()
    {
        if (Required && System.String.IsNullOrEmpty(mobjCurrentValue?.ToString()))
        {
            throw new System.Exception("Field is required");
        }
        else if (!Required && System.String.IsNullOrEmpty(mstrValue)) {
            return;
        }
        else if (mobjCurrentValue.ToString()?.Length > 10 ||
                 mobjCurrentValue.ToString()?.Length < 10 ||
                 !System.Text.RegularExpressions.Regex.IsMatch(prpValue ?? "", @"^\(\d{3}\) \d{3}-\d{4}$"))
        {
            throw new System.Exception("Invalid phone number");
        }
    }
    #endregion
}
