@rendermode RenderMode.InteractiveServer

@typeparam TValue
@inherits ComponentMain

@* This was never implemented fully *@

<div>bloop</div>

@code {
    #region Params
    [Parameter] public TValue Value { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    #endregion
}
