@inherits LayoutComponentBase

<style>
    a {
                text-decoration: none;
        color: inherit;
    }

     a.active {
                 font-weight: bold;
            color: rebeccapurple;
     }
</style>

<header style="display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; gap: 2rem; width: 100%; max-width: 1200px; margin-inline: auto; padding: 1rem;">
    <NavLink href="/">
        <h1 style="font-family: monospace; font-size: 1.5rem; color: rebeccapurple;">BlazorUI</h1>    
    </NavLink>
    <nav style="display: flex; gap: 1rem; align-items: center;">
        @* <NavLink href="/components">UI Components</NavLink> *@
        <NavLink href="/rich-text-editor">Rich Text Editor</NavLink>
        <NavLink href="/inputs">Other Inputs</NavLink>
    </nav>
</header>

<main>
@Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
