.progress-container {
    display: flex;
    align-items: center;
    color: black;
}

.progress-bar {
    position: relative;
    width: 100px;
    height: 8px;
}

    .progress-bar::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: calc(100% + 2px + 2px);
        margin-left: -2px;
        height: 4px;
        background-color: grey;
    }

    .progress-bar::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(attr(data-progress type(<length> | <percentage>)) + 2px);
        margin-left: -2px;
        background-color: blue;
        border-radius: 0 9999px 9999px 0;
    }

    .progress-bar[data-progress='0%']::after {
        display: none;
    }

    .progress-bar[data-progress='100%']::after {
        border-radius: 0;
        width: calc(attr(data-progress type(<length> | <percentage>)) + 3px + 3px);
    }

.check-mark {
    position: relative;
    z-index: 1;
}

    .check-mark > span {
        display: flex;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.25rem;
        border-radius: 50%;
        color: white;
        background-color: transparent;
        border: 2px solid gray;
    }

    .check-mark[data-checked] > span {
        background-color: blue;
        border: 0;
    }

    .check-mark > p {
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
    }
