@typeparam TValue

<li class="@(mblnIsSelected ? "checked" : "") @(ListStyle == SelectInput<TValue>.enumListStyle.typCompact ? "compact-spacing" : "")" id=@($"option-{mstrInputName}")>
    <input type="checkbox"
           aria-hidden="true"
           value=@Value
           id=@mstrInputName
           name=@mstrInputName
           @onchange=@OnValueChanged
           checked=@mblnIsSelected
           class="select-option__input"
           tabindex="@(mobjParentInput?.fobjPopoverRef?.subCheckOpenStatus() ?? false ? -1 : "")" />


    <label for=@mstrInputName class="select-option__label @(mobjParentInput?.MultiSelect ?? false ? "multi" : "")">
        @if (mobjParentInput?.MultiSelect ?? false)
        {
            <CheckboxIcon Checked=@mblnIsSelected CheckedColor="purple" />
        }
        <span>
            @ChildContent
        </span>
        @if (!(mobjParentInput?.MultiSelect ?? false) && mblnIsSelected)
        {
            <span class="checkmark">
                <CheckIcon />
            </span>
        }
    </label>
</li>

@code {
    [CascadingParameter(Name = "ParentSelect")] public SelectInput<TValue>? mobjParentInput { get; set; }
    [Parameter] public System.Boolean SelectAll { get; set; } = false;
    [Parameter, EditorRequired] public TValue Value { get; set; } = default(TValue);
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; }
    [Parameter, EditorRequired] public SelectInput<TValue>.enumListStyle ListStyle { get; set; } = SelectInput<TValue>.enumListStyle.typDefault;

    // Props
    private System.String mstrInputName => (mobjParentInput?.Id + "__" + Value?.ToString()).ToLower().Replace(' ', '-');
    private System.Boolean mblnIsSelected => (SelectAll && mobjParentInput?.mobjCurrentValue.Count == mobjParentInput?.falobjSelectOptions.Count) || (System.Boolean)(mobjParentInput?.mobjCurrentValue.Contains(Value) ?? false);

    public void OnValueChanged(ChangeEventArgs args)
    {
        if (SelectAll)
        {
            mobjParentInput?.subToggleSelectAll();
        }
        else
        {
            mobjParentInput?.subUpdateSelectedValue(Value, mblnIsSelected);
        }
    }
}
