@inherits cBindingValue<System.Collections.Generic.List<TData>>

@typeparam TData
@attribute [CascadingTypeParameter(nameof(TData))]

<style type="text/css">
    .table__container {
        min-width: 0;
        max-width: 100%;
        overflow-x: auto;
        position: relative;
    }

        .table__container .table {
            display: inline-block;
        }

        .table__container .table__header,
        .table__container .table__row {
            display: grid;
            align-content: center;
            border-radius: 5px;
            padding-right: 8px; /* Prevent scrollbar appearing when not needed */
        }

        .table__container .table__header {
            background-color: #e7e7e7;
        }

    .table__row:nth-child(2n+1) {
        background-color: #f7f7f7;
    }

    .table__container .table__header--select-box,
    .table__container .table__field--checkbox {
        padding: 0.75rem;
    }

    .table__container .table__header--column,
    .table__container .table__field {
        padding: 0.5rem 3px 0.5rem 0.75rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .table__container .table__header--column {
        width: 100%;
        display: grid;
        grid-template-columns: auto max-content;
    }

        .table__container .table__header--column > h5 {
            min-width: 0;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    .table__container .table__header--sort-direction {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.3rem;
        border-radius: 9999px;
        background-color: transparent;
        transition: background-color 0.1s var(--transition-ease-out);
    }

        .table__container .table__header--sort-direction:hover {
            /*        background-color: #aaa8;*/ /* Uncomment to add hover for arrow, not sure if it's needed though */
        }


    .table__container .table__body {
    }

    .table__container .action-column {
        cursor: pointer;
    }

    .table__container span.empty-value {
        color: #555;
    }
</style>

<CascadingValue Value=@malobjColumns Name="Columns">
    <div class="table__container">
        <div class="table" @ref=@fobjTableRef>
            @ChildContent @* Render Child Components so that malobjColumns can get initialized from the <Column /> and <ActionColumn /> componnets *@

            <div class="table__header" @ref=@fobjTableHeaderRef style=@subCalculateGridColumns()>
                @if (ShowSelectOption && malobjColumns.Count > 0)
                {
                    <div class="table__header--select-box">
                        <input type="checkbox" name="column-select" checked=@(mobjCurrentValue?.Count == objData?.Count && mobjCurrentValue?.Count > 0) @onchange=@subHandleColumnSelectAll />
                    </div>
                }
                @foreach (cColumn<TData> objColumn in malobjColumns.Where(column => !column.mblnIsHidden))
                {
                    <ResizableColumn @bind-Value=@(malobjColumns[malobjColumns.IndexOf(objColumn)].mintWidth)>
                        <div class="table__header--column" style=@subGetTextAlignStyle(objColumn.menmTextAlign) @onclick=@(() => subSortByField(objColumn.mstrFieldName))>
                            <h5>
                                @(objColumn.mstrDisplayName ?? objColumn.mstrFieldName)
                            </h5>
                            @if (objColumn.menmColumnType == enumColumnType.typData)
                            {
                                <div class="table__header--sort-direction">
                                    <ChevronIcon Direction=@(mobjFieldIsDescendingSort?.Item1 == objColumn.mstrFieldName && mobjFieldIsDescendingSort?.Item2 == false ? ChevronIcon.enumDirection.typDown : ChevronIcon.enumDirection.typUp) />
                                </div>
                            }
                        </div>
                    </ResizableColumn>
                }
            </div>
            <div class="table__body" role="row" @ref=fobjTableBodyRef>
                @if (objData != null)
                {
                    <Virtualize Items=@objData Context="objData">
                        @* @foreach (TData objData in Data) *@
                        @* { *@
                        <div class="table__row" style=@subCalculateGridColumns()>
                            @if (ShowSelectOption && malobjColumns.Count > 0)
                            {
                                <div class="table__field--checkbox" role="gridcell">
                                    <input type="checkbox" name="column-select" checked=@(mobjCurrentValue?.Contains(objData)) @onclick=@(() => subHandleColumnSelect(objData)) />
                                </div>
                            }
                            @foreach (cColumn<TData> objColumn in malobjColumns.Where(column => !column.mblnIsHidden))
                            {
                                <div class="table__field" role="gridcell" style=@subGetTextAlignStyle(objColumn.menmTextAlign)>
                                    @if (objColumn.menmColumnType == enumColumnType.typAction)
                                    {
                                        @* If it's an action column, render it with a wrapper around the content, so that it calls the action upon click *@
                                        <div class="action-column" @onclick=@(() => objColumn?.mactOnClick?.Invoke(objData))>
                                            @objColumn?.ChildContent?.Invoke(objData)
                                        </div>
                                    }
                                    else
                                    {
                                        if (objColumn?.ChildContent != null)
                                        {
                                            @objColumn?.ChildContent(objData)
                                        }
                                        else
                                        {
                                            if (!System.String.IsNullOrWhiteSpace(subGetField(objColumn?.mstrFieldName!, objData)?.ToString()))
                                            {
                                                @subGetField(objColumn?.mstrFieldName!, objData)?.ToString()
                                            }
                                            else
                                            {
                                                <span class="empty-value">
                                                    @EmptyValuePlaceholder
                                                </span>
                                            }
                                        }
                                    }
                                </div>
                            }
                        </div>
                        @* } *@
                    </Virtualize>
                }
            </div>
        </div>
    </div>
</CascadingValue>

@code {
    #region Params
    /// <summary>
    /// The Data to be displayed in the grid. This should have corresponding columns to the <Column> components you pass in
    /// </summary>
    [Parameter, EditorRequired] public System.Collections.Generic.List<TData>? Data { get; set; }
    /// <summary>
    /// Event Callback for binding to @bind-Data. This maintains sorting when the list is modified
    /// </summary>
    [Parameter] public Microsoft.AspNetCore.Components.EventCallback<System.Collections.Generic.List<TData>?> DataChanged { get; set; }
    /// <summary>
    /// If set to true, all columns will have a checkbox to the left of them.
    /// Be sure to pass in a parameter as @bind-Value=@YourVarName if you want to use the list of selected rows in any way
    /// </summary>
    [Parameter] public System.Boolean ShowSelectOption { get; set; } = false;
    /// <summary>
    /// When a value is null or empty, it will display this value (default: "-")
    /// </summary>
    [Parameter] public System.String EmptyValuePlaceholder { get; set; } = "-";
    /// <summary>
    /// Pass in either Column or ActionColumn component's with the corresponding field name to it's field in the Data parameter
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; } = null;
    #endregion

    #region Props
    public System.Collections.Generic.List<TData>? objData
    {
        get => Data;
        set
        {
            Data = value;
            DataChanged.InvokeAsync(value);
        }
    }
    #endregion

    #region Class Declarations
    private System.Collections.Generic.List<TData>? mobjCacheData = null;
    private System.Collections.Generic.List<cColumn<TData>> malobjColumns = new System.Collections.Generic.List<cColumn<TData>>();
    private (System.String, System.Boolean)? mobjFieldIsDescendingSort = null; // FieldName, IsDescending

    private cColumn<TData>? mobjPrimaryKeyColumn = null;
    private ElementReference? fobjTableRef { get; set; } = null;
    private ElementReference? fobjTableHeaderRef { get; set; } = null;
    private ElementReference? fobjTableBodyRef { get; set; } = null;
    private IJSObjectReference? mobjJSTable = null;

    private System.Int32? fintMaxWidth = null;
    private System.Boolean fblnResizeColumns = true;
    #endregion

    #region OnParameterSet
    protected override void OnParametersSet()
    {
        if (ShowSelectOption && mobjCurrentValue == null)
        {
            mobjCurrentValue = new System.Collections.Generic.List<TData>();
        }

        // If the parameter "Data" changes, re-cache what it is and set colunms to be resized on next OnAfterRender call
        if (System.Text.Json.JsonSerializer.Serialize(Data) != System.Text.Json.JsonSerializer.Serialize(mobjCacheData))
        {
            mobjCacheData = Utils.Helpers.cObjectCopy.fncDeepCopy(Data);
            fblnResizeColumns = true;
        }
    }
    #endregion

    #region OnAfterRender
    protected override async void OnAfterRender(bool firstRender)
    {
        try
        {
            if (fblnResizeColumns)
            {
                fblnResizeColumns = false;

                for (System.Int32 i = 0; i < malobjColumns.Count; i++)
                {
                    // await mobjJSTable.InvokeVoidAsync("getColumnWidth", fobjTableHeaderRef, fobjTableBodyRef, i, Microsoft.JSInterop.DotNetObjectReference.Create(this));
                    await mobjJSRuntime.InvokeVoidAsync("js", @"
                        const tableHeaderRef = params[0];
                        const tableBodyRef = params[1];
                        const columnIndex = params[2];
                        const DotNet = params[3];

                        setTimeout(async () => {

                            const rows = [...tableBodyRef.querySelectorAll('.table__row')];
                            let maxWidth = 0;

                            const columnHeaders = tableHeaderRef.querySelectorAll('.table__header--column');
                            if (columnHeaders[columnIndex]) {
                                const headerWidth = columnHeaders[columnIndex].offsetWidth;
                                if (headerWidth > maxWidth) {
                                    maxWidth = headerWidth;
                                }
                            }

                            Array.from(rows).slice(0, 19).forEach(row => {
                                const fields = row.querySelectorAll('.table__field');
                                if (fields[columnIndex]) {
                                    const fieldWidth = fields[columnIndex].offsetWidth;
                                    if (fieldWidth > maxWidth) {
                                        maxWidth = fieldWidth;
                                    }
                                }
                            });

                            if (maxWidth === 0) {
                                maxWidth = 200;
                            } else if (maxWidth < 100) {
                                maxWidth = 100;
                            }

                            await DotNet.invokeMethodAsync('subJSSetWidth', columnIndex, maxWidth + 1);

                        }, 50);", fobjTableHeaderRef, fobjTableBodyRef, i, Microsoft.JSInterop.DotNetObjectReference.Create(this));
                }
            }
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region subJSSetWidth
    [JSInvokable("subJSSetWidth")]
    public void subJSSetWidth(System.Int32 pintColumnWidth, System.Int32 pintWidth)
    {
        malobjColumns[pintColumnWidth].mintWidth = pintWidth;
        StateHasChanged();
    }
    #endregion

    #region subGetField
    private System.Object? subGetField(System.String pstrFieldId, TData pobjData)
    {
        try
        {
            if (pobjData == null) return null;

            System.Reflection.PropertyInfo? objPropertyInfo = typeof(TData).GetProperty(pstrFieldId);

            System.Object? objValue = objPropertyInfo?.GetValue(pobjData);

            return objValue;
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
            return null;
        }
    }
    #endregion

    #region subSortByField
    private void subSortByField(System.String pstrFieldName)
    {
        try
        {
            System.Reflection.PropertyInfo? objPropertyInfo = typeof(TData).GetProperty(pstrFieldName);

            if (objPropertyInfo != null)
            {
                System.Boolean blnIsDescending = mobjFieldIsDescendingSort?.Item1 == objPropertyInfo.Name ? !(mobjFieldIsDescendingSort?.Item2 ?? false) : false;
                mobjFieldIsDescendingSort = (objPropertyInfo.Name, blnIsDescending);

                objData = !blnIsDescending ? objData?.OrderBy(x => objPropertyInfo.GetValue(x, null)).ToList() : objData?.OrderByDescending(x => objPropertyInfo.GetValue(x, null)).ToList();
            }
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region subDownloadAsCSV
    private void subDownloadAsCSV(System.Collections.Generic.List<TData>? palobjData, System.String pstrFileName)
    {
        if (palobjData == null) return;

        if (!pstrFileName.EndsWith(".csv")) pstrFileName += ".csv";

        System.String strCSVFileExport = cExportTable.fncExportToCSVFile(malobjColumns, palobjData);

        // mobjJSTable?.InvokeVoidAsync("downloadBase64File", pstrFileName, strCSVFileExport);
        mobjJSTable?.InvokeVoidAsync("js", @"
            const fileName = params[0];
            const base64Data = params[1];

            const blob = new Blob([atob(base64Data)], { type: 'text/csv;charset=utf-8;' });
            const link = document.createElement('a');
            const url = URL.createObjectURL(blob);

            link.href = url;
            link.download = filename;
            document.body.appendChild(link);
            link.click();

            document.body.removeChild(link);
            URL.revokeObjectURL(url);", pstrFileName, strCSVFileExport);
    }
    #endregion

    #region subGetTextAlignStyle
    private static System.String subGetTextAlignStyle(enumTextAlign penmTextAlign)
    {
        System.String strTextAlignStyle = "text-align: ";
        switch (penmTextAlign)
        {
            case enumTextAlign.typLeft:
                strTextAlignStyle += "left;";
                break;
            case enumTextAlign.typCenter:
                strTextAlignStyle += "center;";
                break;
            case enumTextAlign.typRight:
                strTextAlignStyle += "right;";
                break;
        }
        return strTextAlignStyle;
    }
    #endregion

    #region subCalculateGridColumns
    private System.String subCalculateGridColumns()
    {
        System.String strColumnTemplate = "grid-template-columns: " + (ShowSelectOption ? "3rem " : "");
        malobjColumns.ForEach(column =>
        {
            if (column.mblnIsHidden) return;

            if (column.mintWidth > 0 && !fblnResizeColumns)
            {
                strColumnTemplate += column.mintWidth + "px ";
            }
            else
            {
                strColumnTemplate += "max-content ";
            }
        });
        strColumnTemplate += ";";

        return strColumnTemplate;
    }
    #endregion

    #region subHandleColumnSelect
    private void subHandleColumnSelect(TData pobjData)
    {
        try
        {
            if (mobjCurrentValue == null) mobjCurrentValue = new System.Collections.Generic.List<TData>();

            if (!mobjCurrentValue.Contains(pobjData))
            {
                mobjCurrentValue.Add(pobjData);
            }
            else
            {
                mobjCurrentValue.Remove(pobjData);
            }
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region subHandleColumnSelectAll
    private void subHandleColumnSelectAll(ChangeEventArgs e)
    {
        try
        {
            if ((System.Boolean)e.Value)
            {
                mobjCurrentValue = Utils.Helpers.cObjectCopy.fncDeepCopy(objData);
            }
            else
            {
                mobjCurrentValue = new System.Collections.Generic.List<TData>();
            }
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion
}