.modal {
    /* Layout */
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* Positioning */
    margin: auto;
    padding: 0;
    position: fixed;
    inset: 0;
    z-index: var(--layer-important);
    /* Sizing */
    max-inline-size: min(90vw, 900px);
    max-block-size: min(80vh, 100%);
    max-block-size: min(80dvb, 100%);
    /* Appearance */
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    /* Fade in/out transition */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s var(--transition-ease-out);
}

    .modal > * {
        padding-left: 2rem;
        padding-right: 2rem;
    }

        .modal > *:first-child {
            padding-top: 1rem;
        }

        .modal > *:last-child {
            padding-bottom: 1rem;
        }

    .modal.visible {
        opacity: 1;
        pointer-events: auto;
    }

@media (max-width: 768px) {
    /* Anchor to bottom of screen if typLarge on mobile screens */
    dialog[modal-type="typLarge"] {
        margin-block-end: 0;
        border-end-end-radius: 0;
        border-end-start-radius: 0;
    }
}

.modal[modal-type="typSmall"] {
    grid-template-rows: 1fr auto;
}

.modal::backdrop {
    background-color: #0005;
    /*    backdrop-filter: blur(2px);*/
    opacity: 0;
    transition: opacity 0.2s var(--transition-ease-out);
}

.modal.visible::backdrop {
    opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
    /* Animate slide up if user has no preference on motion */
    .modal:not(.visible) {
        animation: slideOutDown 0.2s forwards;
    }

    @keyframes slideOutDown {
        from {
            translate: none;
            scale: 1;
        }

        to {
            translate: 0 10px;
            scale: 0.9;
        }
    }

    .modal.visible {
        animation: slideInUp 0.2s forwards;
    }

    @keyframes slideInUp {
        from {
            translate: 0 10px;
            scale: 0.9;
        }

        to {
            translate: none;
            scale: 1;
        }
    }
}

/* Content styling */
.modal > header {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    background-color: var(--clr-mono-200);
}

    .modal > header > .modal-title {
        flex-grow: 1;
        display: flex;
        align-items: center;
        height: 100%;
        gap: 0.8rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .modal > header > button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: 2.5rem;
        width: 2.5rem;
        border: none;
        background-color: var(--clr-mono-100);
        border-radius: 9999px;
        cursor: pointer;
    }

.modal > article {
    padding-block: 1rem;
    overflow-y: auto;
}

.modal > footer {
    padding-top: 1rem;
    background-color: var(--clr-mono-200);
}

    .modal > footer > menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
    }
