.popover__container {
    position: relative;
    /*    contain: layout;*/
}

.popover {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: none;
    background-color: var(--clr-mono-100);
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s var(--transition-ease-out);
    white-space: nowrap;
    width: 100%;
    /* Positioning */
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid #bbb;
}

    .popover:focus-visible {
        outline: none;
    }

    .popover[data-position="top-left"] {
        top: 5px;
    }

    .popover[data-position="left-top"] {
        left: 5px
    }

    .popover[data-position="top-center"] {
        top: 5px;
        transform: translateX(-50%);
        transform-origin: 0 top;
    }

    .popover[data-position="top-right"] {
        top: 5px;
        transform: translateX(-100%);
        transform-origin: 0 top;
    }

    .popover[data-position="right-top"] {
        left: -5px;
        transform: translateX(-100%);
        transform-origin: center top;
    }

    .popover[data-position="middle-left"] {
        left: 5px;
        transform: translateY(-50%);
    }

    .popover[data-position="middle-right"] {
        left: -5px;
        transform: translate(-100%, -50%);
    }

    .popover[data-position="bottom-left"] {
        top: -5px;
        transform: translateY(-100%);
        transform-origin: left 0;
    }

    .popover[data-position="left-bottom"] {
        left: 5px;
        transform: translateY(-100%);
    }

    .popover[data-position="bottom-center"] {
        transform: translate(-50%, calc(-100% + -5px));
        transform-origin: 0 bottom;
    }

    .popover[data-position="bottom-right"] {
        top: -5px;
        transform: translate(-100%, -100%);
        transform-origin: 0 bottom;
    }

    .popover[data-position="right-bottom"] {
        left: -5px;
        transform: translate(-100%, -100%);
        transform-origin: center bottom;
    }

    .popover.visible {
        opacity: 1;
        pointer-events: auto;
        z-index: 1000
    }

@media (prefers-reduced-motion: no-preference) {
    /* Animate slide up if user has no preference on motion */
    .popover:not(.visible) {
        animation: scaleOut 0.15s forwards;
    }

    @keyframes scaleOut {
        from {
            scale: 1;
        }

        to {
            scale: 0.95;
        }
    }

    .popover.visible {
        animation: scaleIn 0.15s forwards;
    }

    @keyframes scaleIn {
        from {
            scale: 0.95;
        }

        to {
            scale: 1;
        }
    }
}
