@inherits ComponentMain
@implements IDisposable

<div class="popover__container">
    <div @ref=fobjPopoverTrigger>
        @AnchorElement(this)
    </div>
    <dialog @attributes=fobjExtraAttributes @ref=fobjPopover class="popover shadow-sm @(fblnIsVisible ? "visible" : "")">
        @Content(this)
    </dialog>
</div>


@code {
    #region Enums
    public enum enumPopoverPosition
    {
        typTopLeft = 0,
        typLeftTop = 1,
        typTopCenter = 2,
        typTopRight = 3,
        typRightTop = 4,
        typLeftMiddle= 5,
        typRightMiddle = 6,
        typBottomLeft = 7,
        typLeftBottom = 8,
        typBottomCenter = 9,
        typBottomRight = 10,
        typRightBottom = 11,
    }
    #endregion

    #region Class Declarations
    [Parameter, EditorRequired] public RenderFragment<Popover> AnchorElement { get; set; }
    [Parameter, EditorRequired] public RenderFragment<Popover> Content { get; set; }
    [Parameter, EditorRequired] public enumPopoverPosition Anchor { get; set; }
    [Parameter] public enumPopoverPosition? AnchorFallback { get; set; }
    [Parameter] public System.Boolean MatchParentWidth { get; set; } = false;
    [Parameter] public EventCallback OnOpen { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public System.Collections.Generic.Dictionary<System.String, System.Object> fobjExtraAttributes { get; set; }

    private ElementReference? fobjPopoverTrigger = null;
    private ElementReference? fobjPopover = null;

    private IJSObjectReference? mobjJSPopoverFunctions = null;

    private System.String fstrUniqueId = "";
    public System.Boolean fblnIsVisible = false;
    #endregion

    #region OnAfterRenderAsync
    protected override async Task OnAfterRenderAsync(System.Boolean firstRender)
    {
        if (!firstRender) return;

        try
        {
            // Initialize Unique ID used for the click event key
            fstrUniqueId = subGenerateRandomHex();

            // Init popover listener
            // IJSObjectReference objImportedJSModule = await mobjJSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Components/Popover/index.js");

            // mobjJSPopoverFunctions = await objImportedJSModule.InvokeAsync<IJSObjectReference>("initPopover", fobjPopoverTrigger, fobjPopover, Anchor.ToString(), AnchorFallback.ToString(), MatchParentWidth, DotNetObjectReference.Create(this));

            mobjJSPopoverFunctions = await mobjJSRuntime.InvokeAsync<IJSObjectReference>("js", @"
                    const popoverTriggerEl = params[0];
                    const popoverEl = params[1];
                    const anchor = params[2];
                    const fallback = params[3];
                    const matchParentWidth = params[4];
                    const DotNet = params[5];

                    // Move popover el to body
                    if (popoverEl) {
                        popoverEl.remove();
                        document.body.appendChild(popoverEl);
                    }

                    const anchorClassNames = {
                        typTopLeft: 'top-left',
                        typLeftTop: 'left-top',
                        typTopCenter: 'top-center',
                        typTopRight: 'top-right',
                        typRightTop: 'right-top',
                        typLeftMiddle: 'middle-left',
                        typRightMiddle: 'middle-right',
                        typBottomLeft: 'bottom-left',
                        typLeftBottom: 'left-bottom',
                        typBottomCenter: 'bottom-center',
                        typBottomRight: 'bottom-right',
                        typRightBottom: 'right-bottom',
                    }

                    const positionPopover = () => {
                        if (!popoverEl || !popoverTriggerEl) return;

                        if (matchParentWidth) popoverEl.style.minWidth = `${popoverTriggerEl.getBoundingClientRect().width}px`;
                        popoverEl.style.maxWidth = 'max-content';

                        const screenWidth = window.innerWidth;
                        const screenHeight = window.innerHeight;

                        function fitsInView(positionClass) {
                            popoverEl.setAttribute('data-position', positionClass);
                            position(positionClass);
                            const newRect = popoverEl.getBoundingClientRect();

                            return (
                                newRect.left >= 0 &&
                                newRect.right <= screenWidth &&
                                newRect.top >= 0 &&
                                newRect.bottom <= screenHeight
                            );
                        }

                        if (fitsInView(anchorClassNames[anchor])) {
                            lastPosition = anchor;
                            return;
                        }
                        if (Boolean(fallback) && fitsInView(anchorClassNames[fallback])) {
                            lastPosition = fallback;
                            return;
                        }

                        // if neither fit, default to initial anchor position
                        popoverEl.setAttribute('data-position', anchorClassNames[lastPosition || anchor]);
                        position(anchorClassNames[lastPosition || anchor]);
                        return;
                    };

                    const checkIfBackdropClicked = (event) => {
                        const popoverRect = popoverEl.getBoundingClientRect();
                        const isInDialog = (popoverRect.top <= event.clientY && event.clientY <= popoverRect.top + popoverRect.height &&
                            popoverRect.left <= event.clientX && event.clientX <= popoverRect.left + popoverRect.width);

                        const popoverTriggerRect = popoverTriggerEl.getBoundingClientRect();
                        const isInTrigger = (popoverTriggerRect.top <= event.clientY && event.clientY <= popoverTriggerRect.top + popoverTriggerRect.height &&
                            popoverTriggerRect.left <= event.clientX && event.clientX <= popoverTriggerRect.left + popoverTriggerRect.width);

                        if (!isInDialog && !isInTrigger) {
                            DotNet.invokeMethodAsync('fncHide');
                        }
                    }
                    document.addEventListener('click', checkIfBackdropClicked, true);

                    // Position popover
                    const position = (anchoredPosition) => {
                        const triggerRect = popoverTriggerEl?.getBoundingClientRect();
                        const elementPosition = { x: triggerRect.x, y: triggerRect.y };

                        switch (anchoredPosition) {
                            case anchorClassNames.typTopLeft:
                                elementPosition.y = triggerRect.y + triggerRect.height;
                                break;
                            case anchorClassNames.typLeftTop:
                                elementPosition.x = triggerRect.x + triggerRect.width;
                                break;
                            case anchorClassNames.typTopCenter:
                                elementPosition.x = triggerRect.x + (triggerRect.width / 2);
                                elementPosition.y = triggerRect.y + triggerRect.height;
                                break;
                            case anchorClassNames.typTopRight:
                                elementPosition.x = triggerRect.x + triggerRect.width;
                                elementPosition.y = triggerRect.y + triggerRect.height;
                                break;
                            case anchorClassNames.typRightTop:
                                break;
                            case anchorClassNames.typLeftMiddle:
                                elementPosition.x = triggerRect.x + triggerRect.width;
                                elementPosition.y = triggerRect.y + (triggerRect.height / 2);
                                break;
                            case anchorClassNames.typRightMiddle:
                                elementPosition.y = triggerRect.y + (triggerRect.height / 2);
                                break;
                            case anchorClassNames.typBottomLeft:
                                break;
                            case anchorClassNames.typLeftBottom:
                                elementPosition.x = triggerRect.x + triggerRect.width;
                                elementPosition.y = triggerRect.y + triggerRect.height;
                                break;
                            case anchorClassNames.typBottomCenter:
                                elementPosition.x = triggerRect.x + (triggerRect.width / 2);
                                break;
                            case anchorClassNames.typBottomRight:
                                elementPosition.x = triggerRect.x + triggerRect.width;
                                break;
                            case anchorClassNames.typRightBottom:
                                elementPosition.x = triggerRect.x;
                                elementPosition.y = triggerRect.y + triggerRect.height;
                                break;
                        }

                        popoverEl.style.translate = `${elementPosition.x}px ${elementPosition.y}px`;
                    }

                    // Set event listener for window resize
                    window.addEventListener('resize', positionPopover, true);
                    // Set event listener for device orientation change
                    window.addEventListener('orientationchange', positionPopover, true);
                    // Set event listener for documents scroll position changing
                    document.addEventListener('scroll', positionPopover, true);

                    let lastPosition = popoverTriggerEl?.getBoundingClientRect();
                    const resizeInterval = setInterval(() => {
                        const newPosition = popoverTriggerEl.getBoundingClientRect();
                        if (newPosition.top !== lastPosition.top || newPosition.left !== lastPosition.left) {
                            positionPopover();
                        }

                        lastPosition = newPosition;
                    }, 20);


                    // Initial positioning
                    positionPopover();

                    return {
                        showPopover: () => {
                            popoverEl?.show();
                        },
                        hidePopover: () => {
                            setTimeout(() => popoverEl.close(), 200);
                        },
                        dispose: () => {
                            document.removeEventListener('click', checkIfBackdropClicked)
                            window.removeEventListener('resize', positionPopover);
                            window.removeEventListener('orientationchange', positionPopover);
                            document.removeEventListener('scroll', positionPopover);

                            clearInterval(resizeInterval);
                        }
                    }
                ", fobjPopoverTrigger, fobjPopover, Anchor.ToString(), AnchorFallback.ToString(), MatchParentWidth, DotNetObjectReference.Create(this));

            // Bind popover to close on 'escape' key press
            fncKeyBind("escape", IKeyBinder.enmExtraKey.typNone, $"popover-listener-{fstrUniqueId}");
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region fncToggle
    public void fncToggle() 
    {
        if (!fblnIsVisible) {
            fncShow();
        } else {
            fncHide();
        }
    }
    #endregion

    #region fncShow
    public void fncShow()
    {
        fblnIsVisible = true;
        mobjJSPopoverFunctions?.InvokeVoidAsync("showPopover");
        OnOpen.InvokeAsync();
    }
    #endregion

    #region fncHide
    [JSInvokable("fncHide")]
    public void fncHide()
    {
        fblnIsVisible = false;
        StateHasChanged();
        OnClose.InvokeAsync();
        mobjJSPopoverFunctions?.InvokeVoidAsync("hidePopover");
    }
    #endregion

    #region subKeyPressed
    public override void subKeyPressed(System.String pstrKeyBindIdentifier)
    {
        if (pstrKeyBindIdentifier == $"popover-listener-{fstrUniqueId}")
        {
            fncHide();
        }
    }
    #endregion

    #region subCheckOpenStatus
    public System.Boolean subCheckOpenStatus() {
        // Implement js to check dialog state
        return true;
    }
    #endregion

    #region Dispose
    public async void Dispose() {
        mobjJSPopoverFunctions?.InvokeVoidAsync("dispose");
    }
    #endregion
}
