@inherits ComponentMain

@implements IDisposable

<div style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; @(mblnIsOpen ? "" : "pointer-events: none;")">
<div class="side-panel shadow @(mblnIsOpen ? "" : "closed")" @ref=@mobjSidePanelRef>
    <div>
        <button style="display: inline-block;width: 1rem; aspect-ratio: 1;padding: 1rem;border: 0;background:none; cursor:pointer;" @onclick=@subClose><XIcon /></button>
    </div>
    <div>
        @ChildContent
    </div>
</div>
</div>

@code {
    #region Params
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    #endregion

    #region Class Declarations
    private IJSObjectReference? mobjJSSidePanel = null;
    private ElementReference? mobjSidePanelRef = null;
    public System.Boolean mblnIsOpen = false;
    #endregion

    #region OnAfterRenderAsync
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender || mobjJSSidePanel == null)
            {
                // IJSObjectReference module = await mobjJSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Components/SidePanel/index.js");

                // mobjJSSidePanel = await module.InvokeAsync<IJSObjectReference>("initialize", mobjSidePanelRef, DotNetObjectReference.Create(this));

                mobjJSSidePanel = await mobjJSRuntime.InvokeAsync<IJSObjectReference>("js", @"
                    const sidePanelRef = params[0];
                    const DotNet = params[1];

                    const handleClick = (sidePanelRef, DotNet) => {
                        return async (event) => {
                            if (sidePanelRef.classList.contains('closed') || document.body.querySelector('dialog[open]') !== null) return;

                            var rect = sidePanelRef.getBoundingClientRect();
                            var isInPanel = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
                                rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
                            if (!isInPanel) {
                                event.preventDefault();
                                event.stopPropagation();
                                await DotNet.invokeMethodAsync('subClose');
                            }
                        }
                    }

                    document.addEventListener('mousedown', handleClick(sidePanelRef, DotNet));

                    return {
                        dispose: () => {
                            document.removeEventListener('mousedown', handleClick(sidePanelRef, DotNet));
                        }
                    }", mobjSidePanelRef, DotNetObjectReference.Create(this));
            }
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region subOpen
    public void subOpen()
    {
        mblnIsOpen = true;
        StateHasChanged();
    }
    #endregion

    #region subClose
    [JSInvokable("subClose")]
    public async Task subClose()
    {
        mblnIsOpen = false;
        StateHasChanged();
        await OnClose.InvokeAsync();
    }
    #endregion

    #region DisposeAsync
    public void Dispose() {
        if (mobjJSSidePanel != null) {
            mobjJSSidePanel.InvokeVoidAsync("dispose");
            // await mobjJSSidePanel.DisposeAsync();
        }
    }
    #endregion
}
