/* Blazor doesn't allow for the @ directives to be listed in a <style> tag, as it conflicts with the razor syntax, thus if you want toasts to have a nice animation when entering and exiting you must add this to your app.css file (until Blazor fixes external libraries to include css files) */

@keyframes toast-show {
    from {
        opacity: 0;
        transform: translateX(2rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toast-hide {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(2rem);
    }
}
