.toast-container {
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-end;
    z-index: 9999;
    transition: height 0.2s var(--transition-ease-out);
}
