@page "/rich-text-editor"

@rendermode RenderMode.InteractiveServer 

@using BlazorUI.Components.Inputs.RichTextInput.Classes

<section style="padding: 1.5rem 2rem; height: 80vh; display: flex; justify-content: center; align-items: center; gap: 3rem; flex-wrap: wrap;">
    <div>
        <RichTextInput @bind-Value=@falobjRichTextValue Placeholder="Start typing here..." />
        <Button @onclick=@subGetContentString>Get the content</Button>
    </div>
    <div class="rich-text__output" style="width: 400px; min-height: 500px;">
        <h2 style="color: #444">Preview:</h2>
        @RichTextInput.fncRenderContent(falobjRichTextValue)
    </div>
</section>

@code {
    private System.Collections.Generic.List<cRichTextBlock> falobjRichTextValue { get; set; }

    private void subGetContentString() {
        System.String strContent = System.Text.Json.JsonSerializer.Serialize(falobjRichTextValue, new System.Text.Json.JsonSerializerOptions
        {
            WriteIndented = false, // Prevents excess whitespace
        });

        return;
    }
}
