@page "/inputs"

@rendermode RenderMode.InteractiveServer

@inherits ComponentMain

<PageTitle>Input Test Page</PageTitle>

<section style="padding: 1.5rem 2rem; display: flex; gap: 3rem; justify-content: center;">
    <div style="display: flex; align-items: center; flex-direction: column; gap: 2rem;">
        <FileInput Label="Test File upload" @bind-Value=@falobjFileUploads />

        <DateInput Label="Date" Required @bind-Value=@fdteDateTimeInput />

        <TimeInput Label="Time" Disabled=@(fdteDateTimeInput == null) Required @bind-Value=@fdteDateTimeInput />

        <p>@fdteDateTimeInput?.ToString("MMM dd yyyy HH:mm tt")</p>

        <PhoneNumberInput Label="Phone Number" Required />

        <TextInput Label="Text" Placeholder="test" @bind-Value="fstrTextInput" />

        <TextAreaInput Label="Text Area" Placeholder="Type some text here!" AutoSizing MaxLength="200" @bind-Value=@fstrTextAreaInput />

        <NumberInput Label="Number" Placeholder="Amount..." Required @bind-Value=@fintNumberInput />

        @* <SelectInput Label="Multi Option Select" MultiSelect SelectAllOption Searchable @bind-Value=falstrMultiSelectedOptions TValue=@(System.String)>
            <Option Value=@("Option 1")>Option 1</Option>
            <Option Value=@("Option 2")>Option 2</Option>
            <Option Value=@("Option 3")>Option 3</Option>
            <Option Value=@("Option 4")>Option 4</Option>
            <Option Value=@("Option 5")>Option 5</Option>
            <Option Value=@("Option 6")>Option 6</Option>
            <Option Value=@("Option 7")>Option 7</Option>
            <Option Value=@("Option 8")>Option 8</Option>
        </SelectInput>

        <SelectInput Label="Single Option Select" PreventDeselect Required @bind-Value=falstrSingleSelectedOptions TValue=@(System.String)>
            <Option Value=@("Option 1")>Option 1</Option>
            <Option Value=@("Option 2")>Option 2</Option>
            <Option Value=@("Option 3")>Option 3</Option>
            <Option Value=@("Option 4")>Option 4</Option>
            <Option Value=@("Option 5")>Option 5</Option>
            <Option Value=@("Option 6")>Option 6</Option>
            <Option Value=@("Option 7")>Option 7</Option>
            <Option Value=@("Option 8")>Option 8</Option>
        </SelectInput> *@

        <CheckboxInput Label="Checkbox Input" @bind-Value=fblnCheckboxInput />
    </div>
</section>

@code {
    public System.String? fstrTextInput { get; set; } // TextInput
    public System.String? fstrTextAreaInput { get; set; } // TextAreaInput
    public System.DateTime? fdteDateTimeInput { get; set; } // DateInput and TimeInput
    public System.Int32? fintNumberInput { get; set; } // NumberInput
    public List<System.String> falstrMultiSelectedOptions { get; set; } = new List<System.String>(); // SelectInput
    public List<System.String> falstrSingleSelectedOptions { get; set; } = new List<System.String>(); // SelectInput
    private System.Boolean fblnCheckboxInput { get; set; }
    public System.String? fstrRadioInput { get; set; } = "Option 1"; // Radio Input Group

    public System.Collections.Generic.List<cFileUpload> falobjFileUploads { get; set; } = new System.Collections.Generic.List<cFileUpload>();

    private System.Int64 fintCurrentProgress = 46;
}
