@inherits InputMain<System.DateTime?>

<style>
    .date-input__wrapper {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    input[type="date"] {
        width: clamp(174px, 100%, 475px);
    }

        input[type="date"]:invalid {
            box-shadow: none !important;
        }

        input[type="date"].error {
            box-shadow: 0 0 10px var(--clr-error);
        }

    .selected-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .calendar-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ::deep .monthly-calendar {
        box-shadow: initial !important;
    }

    .calendar-popover__button-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        background-color: white;
        padding-inline: 2rem;
        padding-bottom: 1.5rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .calendar-popover__button {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 9999px;
        border: 1.5px solid black;
        background: none;
        cursor: pointer;
    }</style>

<InputContainer Ref=@this TRef=@DateInput TValue=@(System.DateTime?)>
    <div class="date-input__wrapper">
        <div class="input-wrapper">
            <span class="helper-icon @(!System.String.IsNullOrEmpty(WarningMessage) ? "warning" : "")">
                @if (!System.String.IsNullOrEmpty(prpErrorMessage))
                {
                    <ErrorIcon />
                }
                else if (!System.String.IsNullOrEmpty(WarningMessage))
                {
                    <InfoIcon />
                }
            </span>
            <input type=@("date") @attributes=@Attributes id=@Id name=@Id min="01/01/1900" max=@(System.DateTime.MaxValue.Year) placeholder=@Placeholder required=@Required disabled=@prpIsDisabled
                   class=@($"date-input {(!System.String.IsNullOrEmpty(ErrorMessage) ? "error" : "")}") @bind=@fstrCurrentValue />
        </div>
    </div>
</InputContainer>

@code {
    #region Params
    private System.String? mstrCurrentValue = null;
    private System.String? fstrCurrentValue
    {
        get => mstrCurrentValue != null ? mstrCurrentValue : null; 
        set
        {
            mstrCurrentValue = value;
            if (System.DateTime.TryParse(mstrCurrentValue, out System.DateTime mdteDate))
            {   
                if (mdteDate > new System.DateTime(1900, 1, 2) && mdteDate < System.DateTime.MaxValue)
                {
                    mobjCurrentValue = mdteDate;
                }
            } 
            else
            {
                mobjCurrentValue = null;
            }
        }
    }
    #endregion

    #region OnInitialized
    protected override void OnInitialized()
    {
        try
        {
            subRegisterFormField();
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region OnParametersSet
    protected override void OnParametersSet()
    {
        try
        {
            mstrCurrentValue = mobjCurrentValue > new System.DateTime(1900, 1, 1) ? mobjCurrentValue?.ToString("yyyy-MM-dd") : null;
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
        base.OnParametersSet();
    }
    #endregion

    #region subRunValidation
    protected override void subRunValidation()
    {
        if (Required && System.String.IsNullOrEmpty(mobjCurrentValue.ToString()))
        {
            throw new System.Exception("Field is required");
        }
        else
        if (mobjCurrentValue > System.DateTime.MaxValue)
        {
            throw new System.Exception($"Date is too large");
        }
        else if (mobjCurrentValue < new System.DateTime(1900, 1, 1))
        {
            throw new System.Exception($"Date cannot be before 01/01/1900");
        }
    }
    #endregion
}
