@inherits InputMain<System.Int32?>

<style>
    .number-input__wrapper {
        display: grid;
        grid-template-columns: 1fr auto auto;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .number-input__wrapper > button {
        height: 100%;
        aspect-ratio: 1;
        background-color: var(--clr-white);
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .number-input__wrapper > button:last-child {
            border-radius: 0 1rem 1rem 0;
            border-left: 0;
        }

        .number-input__wrapper > button > ::deep svg {
            height: 1.25rem;
        }

    .number-input:not(.rounded-right) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

</style>

<InputContainer Ref=@this TRef=@NumberInput TValue=@(System.Int32?)>
    <div class="number-input__wrapper">
        <div class="input-wrapper">
            <span class="helper-icon @(!System.String.IsNullOrEmpty(WarningMessage) ? "warning" : "")">
                @if (!System.String.IsNullOrEmpty(prpErrorMessage))
                {
                    <ErrorIcon />
                }
                else if (!System.String.IsNullOrEmpty(WarningMessage))
                {
                    <InfoIcon />
                }
            </span>
            <input id=@Id name=@Id type="number" placeholder=@Placeholder disabled=@prpIsDisabled class="number-input @(HideButtons ? "rounded-right" : "")" @bind=mobjCurrentValue />
        </div>
        @if (!HideButtons)
        {
            <button type="button" disabled=@prpIsDisabled @onclick=@subSubtractValue>
                <MinusIcon />
            </button>
            <button type="button" disabled=@prpIsDisabled @onclick=@subAddValue>
                <PlusIcon />
            </button>
        }
    </div>
</InputContainer>

@code {
    #region Params
    [Parameter] public System.Int32 Min { get; set; } = System.Int32.MinValue;
    [Parameter] public System.Int32 Max { get; set; } = System.Int32.MaxValue;
    [Parameter] public System.Boolean HideButtons { get; set; } = false;
    #endregion

    #region OnInitialized
    protected override void OnInitialized()
    {
        try
        {
            subRegisterFormField();
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region subRunValidation
    protected override void subRunValidation()
    {
        if (Required && System.String.IsNullOrEmpty(mobjCurrentValue?.ToString()))
        {
            throw new System.Exception("Field is required");
        }
        else if (mobjCurrentValue < Min)
        {
            throw new System.Exception($"Value cannot be less than {Min}");
        }
        else if (mobjCurrentValue > Max)
        {
            throw new System.Exception($"Value cannot be greater than {Max}");
        }
    }
    #endregion

    #region subSubtractValue
    private void subSubtractValue()
    {
        if (prpIsDisabled) return;

        System.Int32 intNewValue = (mobjCurrentValue ?? 0) - 1;

        if (intNewValue >= Min)
        {
            mobjCurrentValue = intNewValue;
        }
    }
    #endregion

    #region subAddValue
    private void subAddValue()
    {
        if (prpIsDisabled) return;

        System.Int32 intNewValue = (mobjCurrentValue ?? 0) + 1;

        if (intNewValue <= Max)
        {
            mobjCurrentValue = intNewValue;
        }
    }
    #endregion
}