@page "/tabViewTest"

<h3>TabViewTest</h3>

<section>
    <TabView @ref=@fobjTabViewRef>
        <Tab Id="tab1" Default>
            <h4>This is a tab1</h4>
        </Tab>
        <Tab Id="tab2">
            <h4>This is a tab2</h4>
        </Tab>
        <Tab Id="tab3">
            <h4>This is a tab3</h4>
        </Tab>
    </TabView>
    <div>
        <Button @onclick=@(() => fobjTabViewRef?.fncNavigateTo("tab1"))>Tab 1</Button>
        <Button @onclick=@(() => fobjTabViewRef?.fncNavigateTo("tab2"))>Tab 2</Button>
        <Button @onclick=@(() => fobjTabViewRef?.fncNavigateTo("tab3"))>Tab 3</Button>
    </div>
</section>

@code {
    private TabView? fobjTabViewRef = null;
}
