@if (mobjToastService.fdictToasts.Count > 0)
{
    <div class="toast-container">
        @foreach (KeyValuePair<System.Int32, sruToast> kvpToastEntry in mobjToastService.fdictToasts.OrderBy(kvp => kvp.Key))
        {
            <Toast fsruToast=@kvpToastEntry.Value AnimationDurationMS=@mintAnimationDuration OnClose="@(() => fncHideToast(kvpToastEntry.Key))" OnActionClick=@kvpToastEntry.Value.mactOnActionClick @key=@kvpToastEntry.Key />
        }
    </div>
}

@ChildContent


@code {
    #region Params
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; }
    #endregion

    #region Props
    [Inject] private cToastService mobjToastService { get; set; }
    #endregion

    #region Class Declarations
    private static readonly System.Int32 mintAnimationDuration = 150;
    #endregion

    #region OnInitialized
    protected override void OnInitialized()
    {
        mobjToastService.OnStateChange += () => StateHasChanged();
    }
    #endregion

    #region fncHideToast
    private async void fncHideToast(System.Int32 pintToastId)
    {
        if (mobjToastService.fdictToasts.ContainsKey(pintToastId))
        {
            // Set Toast property to hidden and call state change
            sruToast sruCurrToast = mobjToastService.fdictToasts[pintToastId];
            sruCurrToast.mblnHidden = true;
            mobjToastService.fdictToasts[pintToastId] = sruCurrToast;
            mobjToastService.NotifyStateChanged();

            // Wait until animation for close is done and remove it from the list
            await Task.Delay(mintAnimationDuration);
            mobjToastService.subRemoveToast(pintToastId);
        }
    }
    #endregion
}
